*{

}
.navbar{
    background-color: black;
    /* border:2px solid green; */
    color:white;
    /* margin: 0px 0px 0px 0px; */
    width: 100%;
    
}
.navbar img{
    /* margin: 10px 10px 10xp 10px; */
    padding: 1px 0px 0px 55px;
    height: 100px;
    width: 100px;
    border:0px solid black;
    border-radius: 50px;
    display: inline;
}
.mid{
    margin: 10px 10px 10px 10px;
    /* border:2px solid red; */
    display: inline-block;
}
.mid li{
    display: inline-block;
    padding: 0px 35px 0px 4px;
    margin: 4px 6px 0px 18px;
    font-size:25px;
    text-decoration: none;
    color : wheat;
}
.mid li a{
    text-decoration: none;
    color:white;
}
.mid li a:hover{
    color: rgb(234, 242, 196);
    text-decoration: underline;
    /* background-color: antiquewhite; */
    border-radius: 20px;

}
.trial{
    display: inline-block;
    margin-left: 90px;
    background: none;
    font-size: 25px;
    color: aqua;
    border: 1px solid aqua;
    border-radius:25px ;
}
.trial a{
    color: aqua;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 5px;
}
.trial a:hover{
    color: bisque;
}


/* section 2 */
.section2{
    background-color: rgb(241, 238, 185);
    border-radius: 10px;
}
.section2 h1{
    font-size: 23px;
    margin-left: 30px;
    padding-bottom: 0px;
    margin-bottom: 2px;
}
.section2 p{
    margin-left: 30px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 4px;
}
.collection div{
    display: inline-block;
}